
@{
    ViewData["Title"] = "BlogDetailsLeft";
}

<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Blog</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Details Left Sidebar</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- blog main wrapper start -->
    <div class="blog-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="blog-widget-wrapper">
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <div class="blog-widget-img">
                                <img src="~/assets/img/blog/11.jpg" alt="author thumb" />
                            </div>
                            <div class="blog-author-title text-center">
                                <h5>Erik Jhonson</h5>
                                <span>UI UX Designer</span>
                                <div class="blog-widget-icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Search</h4>
                            <form class="widget-search-form">
                                <input placeholder="Search keyword" type="text" class="search-field">
                                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Recent Posts</h4>
                            <ul class="recent-posts-inner">
                                <li class="recent-posts">
                                    <div class="recent-posts-image">
                                        <a asp-controller="Blog" asp-action="BlogDetails"><img src="~/assets/img/blog/recent-01.jpg" alt="post thumb"></a>
                                    </div>
                                    <div class="recent-posts-body">
                                        <span class="recent-posts-meta">February  13,  2018</span>
                                        <h6 class="recent-posts-title"><a asp-controller="Blog" asp-action="BlogDetails">Diffrent title gose This is demo</a></h6>
                                    </div>
                                </li>
                                <li class="recent-posts">
                                    <div class="recent-posts-image">
                                        <a asp-controller="Blog" asp-action="BlogDetails"><img src="~/assets/img/blog/recent-02.jpg" alt="post thumb"></a>
                                    </div>
                                    <div class="recent-posts-body">
                                        <span class="recent-posts-meta">February  13,  2018</span>
                                        <h6 class="recent-posts-title"><a asp-controller="Blog" asp-action="BlogDetails">Diffrent title gose This is demo</a></h6>
                                    </div>
                                </li>
                                <li class="recent-posts">
                                    <div class="recent-posts-image">
                                        <a asp-controller="Blog" asp-action="BlogDetails"><img src="~/assets/img/blog/recent-03.jpg" alt="post thumb"></a>
                                    </div>
                                    <div class="recent-posts-body">
                                        <span class="recent-posts-meta">February  13,  2018</span>
                                        <h6 class="recent-posts-title"><a asp-controller="Blog" asp-action="BlogDetails">Diffrent title gose This is demo</a></h6>
                                    </div>
                                </li>
                                <li class="recent-posts">
                                    <div class="recent-posts-image">
                                        <a asp-controller="Blog" asp-action="BlogDetails"><img src="~/assets/img/blog/recent-04.jpg" alt="post thumb"></a>
                                    </div>
                                    <div class="recent-posts-body">
                                        <span class="recent-posts-meta">February  13,  2018</span>
                                        <h6 class="recent-posts-title"><a asp-controller="Blog" asp-action="BlogDetails">Diffrent title gose This is demo</a></h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Categories</h4>
                            <ul class="blog-categories">
                                <li><a asp-controller="Blog" asp-action="BlogDetails">Shoes</a><span>(20)</span></li>
                                <li><a asp-controller="Blog" asp-action="BlogDetails">Fashion</a><span>(18)</span></li>
                                <li><a asp-controller="Blog" asp-action="BlogDetails">Wallet</a><span>(40)</span></li>
                                <li><a asp-controller="Blog" asp-action="BlogDetails">Life Style</a><span>(66)</span></li>
                                <li><a asp-controller="Blog" asp-action="BlogDetails">Electronics</a><span>(66)</span></li>
                                <li><a asp-controller="Blog" asp-action="BlogDetails">Jewellery & Cosmetics</a><span>(30)</span></li>
                            </ul>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Tags</h4>
                            <div class="blog-tag">
                                <a asp-controller="Blog" asp-action="BlogDetails">Fashion</a>
                                <a asp-controller="Blog" asp-action="BlogDetails">Shoes</a>
                                <a asp-controller="Blog" asp-action="BlogDetails">Wallet</a>
                                <a asp-controller="Blog" asp-action="BlogDetails">Bags</a>
                                <a asp-controller="Blog" asp-action="BlogDetails">Jewelery</a>
                            </div>
                        </div>
                        <!-- widget item end -->
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-12">
                            <!-- blog single item start -->
                            <div class="blog-post-item">
                                <div class="blog-thumb">
                                    <img src="~/assets/img/blog/blog-details-2.jpg" alt="blog thumb">
                                </div>
                                <div class="blog-content blog-details">
                                    <h5 class="blog-title">
                                        Celebrity Daughter Opens About Upto Having Her Eye
                                    </h5>
                                    <ul class="blog-meta">
                                        <li><span>By: </span>Admin,</li>
                                        <li><span>On: </span>14.07.2029</li>
                                    </ul>
                                    <p>
                                        Bigger ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis
                                        consequuntur illo aliquid nihil ad neque, debitis praesentium libero ullam
                                        asperiores exercitationem deserunt inventore facilis, officiis,
                                    </p>
                                    <blockquote>
                                        <p>
                                            Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur.
                                            venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed,
                                            cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin
                                            dictum
                                            tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque
                                            scelerisque.
                                        </p>
                                    </blockquote>
                                    <p>
                                        aliquam maiores asperiores recusandae commodi blanditiis ipsum tempora culpa
                                        possimus assumenda ab quidem a voluptatum quia natus? Ex neque, saepe
                                        reiciendis
                                        quasi velit perspiciatis error vel quas quibusdam autem nesciunt voluptas odit
                                        quis
                                        dignissimos eos aspernatur voluptatum est repellat. Pariatur praesentium,
                                        corrupti
                                        deserunt ducimus quo doloremque nostrum aspernatur saepe cupiditate sit autem
                                        exercitationem debitis, maiores vitae perferendis nemo? Voluptas illo, animi
                                        temporibus quod earum molestias eaque, iure rem amet autem dignissimos officia
                                        dolores numquam distinctio esse voluptates optio pariatur aspernatur omnis?
                                        Ipsam
                                        qui commodi velit natus reiciendis quod quibusdam nemo eveniet similique animi!
                                    </p>
                                </div>
                            </div>
                            <!-- blog single item start -->
                            <!-- comment area start -->
                            <div class="comment-section section-padding">
                                <h5>03 Comment</h5>
                                <ul>
                                    <li>
                                        <div class="author-avatar">
                                            <img src="~/assets/img/blog/comment-icon.png" alt="">
                                        </div>
                                        <div class="comment-body">
                                            <span class="reply-btn"><a href="#">Reply</a></span>
                                            <h5 class="comment-author">Admin</h5>
                                            <div class="comment-post-date">
                                                15 Dec, 2019 at 9:30pm
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                                adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?
                                            </p>
                                        </div>
                                    </li>
                                    <li class="comment-children">
                                        <div class="author-avatar">
                                            <img src="~/assets/img/blog/comment-icon.png" alt="">
                                        </div>
                                        <div class="comment-body">
                                            <span class="reply-btn"><a href="#">Reply</a></span>
                                            <h5 class="comment-author">Admin</h5>
                                            <div class="comment-post-date">
                                                20 Nov, 2019 at 9:30pm
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                                adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author-avatar">
                                            <img src="~/assets/img/blog/comment-icon.png" alt="">
                                        </div>
                                        <div class="comment-body">
                                            <span class="reply-btn"><a href="#">Reply</a></span>
                                            <h5 class="comment-author">Admin</h5>
                                            <div class="comment-post-date">
                                                25 Jan, 2019 at 9:30pm
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                                adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- comment area end -->
                            <!-- start blog comment box -->
                            <div class="blog-comment-wrapper">
                                <h5>Leave A Reply</h5>
                                <p>Email address will not be published. Required fields are marked *</p>
                                <form action="#">
                                    <div class="comment-post-box">
                                        <div class="row">
                                            <div class="col-12">
                                                <label>Comment</label>
                                                <textarea name="commnet" placeholder="Write a comment"></textarea>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <label>Name</label>
                                                <input type="text" class="coment-field" placeholder="Name">
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <label>Email</label>
                                                <input type="text" class="coment-field" placeholder="Email">
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <label>Website</label>
                                                <input type="text" class="coment-field" placeholder="Website">
                                            </div>
                                            <div class="col-12">
                                                <div class="coment-btn">
                                                    <input class="btn" type="submit" name="submit" value="POST COMMENT">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- start blog comment box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog main wrapper end -->
</main>
<!-- main wrapper end -->