@model Category
@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            Category detail
        </div>
        <div class="card-body">
            <p class="card-text">@Model.Name</p>
        </div>
    </div>
</div>


