@model RegisterVM

@{
    ViewData["Title"] = "Register";
}
<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Login-Register</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- login register wrapper start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">


                    <!-- Register Content Start -->
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap signup-form">
                            <div class="text-danger mb-2" asp-validation-summary="All"></div>
                            <h2>Singup Form</h2>
                            <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                                <div class="single-input-item">
                                    <input placeholder="Username" autocomplete="off" asp-for="FullName">
                                    <span class="text-danger" asp-validation-for="FullName"></span>
                                </div>
                                <div class="single-input-item">
                                    <input placeholder="Username"  autocomplete="off" asp-for="UserName">
                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                </div>
                                <div class="single-input-item">
                                    <input type="email" placeholder="Enter your Email" autocomplete="off"  asp-for="Email" required />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="password" placeholder="Enter your Password" asp-for="Password" />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="password" placeholder="Comfirm your Password" asp-for="ConfirmPassword"  />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta">
                                        <div class="remember-meta">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                                <label class="custom-control-label" for="subnewsletter">Subscribe Our Newsletter</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button class="btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Register Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->
</main>
<!-- main wrapper end -->